<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form>
        <label for="cn">Course_name:</label>
        <input type="text" id="cn" name="cn"><br><br>
        <label for="id">Course_id:</label>
        <input type="text" name="id"><br><br>
        <label for="cd">Course_details:</label>
        <input type="text" id="cd" name="cd"><br><br>
        <label for="cn">Course_amount:</label>
        <input type="text" id="ca" name="ca"><br><br>
        <label for="cn">Course_feedback:</label>
        <input type="text" id="cf" name="cf"><br><br>
        <label for="submit"></label>
        <input type="submit" name="submit">

    </form>
</body>
</html>